

/* la barre de recherche */
#bloc_page {
  padding-left: 1rem;
  padding-right: 4rem;
}

.flexInput {
  display: flex;
  justify-content: space-betwen;
  position: relative;
}
.flexInput input {
  margin-right: 1rem;
  padding-left: 1rem;
  border-radius: 15px;
  border: 1px solid transparent;
  font-weight: bold;
}

.fa-location-dot {
  border: 1px solid transparent;
  padding: 0.7rem;
  background: #ececec;
  border-radius: 0.5rem;
}
#search {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(0, 68, 255);
  width: 95px;
}

#search a {
  font-weight: bold;
  color: white;
}

/* Les liens en en-tête et logo */

#logo {
  flex-grow: 3;
}

#logo,
img {
  width: 120px;
  height: 50x;
}

.colorAncre
{
  color: blue;
  border-top: 2px blue solid
}

nav a {
  text-decoration: none;
  margin-left: 50px;
  padding: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 15px;
  align-items: center;
}

/* Les filtres */

.circle {
  background-color: #dbe9fe;
  margin: 0px 12px 0 0;
  padding: 1em;
  position: relative;
  right: 10px;
  border-radius: 50px;
}
.lienFiltre {
  display: flex;
  position: relative;
  min-height: 3em;
  margin-bottom: 1em;
  cursor: pointer;
}

.filtre__lien__fusion {
  position: absolute;
  left: 0;
  right: auto;
  color: blue;
}

.filtre__lien__texte {
  margin: 0px 10px 0px 10px;
  padding: 0px 25px 0 45px;
  border-radius: 70px 80px 80px 70px;

  font-weight: 700;
  border-top: 4px #f2f2f2 solid;
  border-bottom: 4px #f2f2f2 solid;
  border-right: 4px #f2f2f2 solid;

  display: flex;
  align-items: center;
  transition-property: transform;
  transition-duration: 0.5s;
}

.filtre__lien__texte:hover {
  box-shadow: 0 0 0.2em #1d6773;
}

.block-filtre__filtres__lien:hover:nth-child(1) {
  border: none;
  transform: none;
}

.filtre__main {
  font-weight: bold;
  margin: 0 3em 0 0;
  line-height: 3em;
}

.filtre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.fa-info {
  border: 3px solid #f2f2f2;
  padding: 9px;
  border-radius: 360%;
  margin-right: 1em;
}
.logo-information 
{
  margin-left: 10px;
}

.fa-child-reaching
{
  width: 9%;
}

/* fin des filtres */

h1 {
  font-weight: bold;
  margin: 15px 0 0 0;
}

.flexBetween 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo 
{
  width: 40%;
  margin-left: 10%;
}

.fa-info
{
  color:blue;
}

/* les hôtels de l'article */

section h2 
{
  font-weight: bold;
  margin-left: 10px;
}

.marginBold
{
  font-weight: bold;
  margin-top: 50px;
}
.contenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f2f2f2;
  
}

#global
 {
  background-color: #f2f2f2;
  width: 68%;
  border-radius: 1.5rem;
  padding: 1%;
}

ul 
{
  list-style: none;
  display: flex;
  padding: 0;
}

.fa-grey
{
  color: rgb(161, 161, 161);
}

.leshotels {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  height: 225px;
  margin-bottom: 30px;
  width: 30%;
}

.leshotels h3 
{
  margin: 0;
}

#les_hotels 
{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  
}

section img {
  height: 8rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Les hôtels du aside */

.lesPlusPopulaires {
  display: flex;
  background-color: #f2f2f2;
  padding: 1%;
  border-radius: 5%;
  flex-wrap: wrap;
  width: 30%;
  margin-right: -55px;
}

.titrePopulary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hôtelsPopulaires {
  display: flex;
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 180px;
  width: 375px;
}

aside a {
  display: flex;
}

.flexPosition {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#hôtelsPopulaires img {
  border-radius: 1rem 0 0 1rem;
  width: 9rem;
  max-height: 50rem;
  height: 10.5rem;
  margin-top: -1rem;
  object-fit: cover;
}

ul li {
  color: blue;
}

/*activités à Marseille*/

.colonne2 
{
  width: 50%; 
}

.side_activite 
{
  width: 100%;
  margin-bottom: 13%;
  box-shadow: black 0 0 10px -4px;
  border-radius: 23px;
}

.activite 
{
  display: flex;
  justify-content: flex-around;
  width: 49%;
}

#flex 
{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}
.titreActivite 
{
  width: 100%;
  margin-top: 10%;
}

.cadreDeco 
{

  height: fit-content;
  margin: 10px 8px 25px 0px;
  box-shadow: black 0 0 10px -4px;
  border-radius: 23px;
  width: 50%; 
}

.cadrePhoto 
{
  width: 100%; 
  background-position: center;
  background-size: cover;
  border-radius: 23px 23px 0 0;
  background-repeat: no-repeat;
}

.photoVieuxPort {
  height: 400px;
  background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
}

.fortDePomègues {
  height: 200px;
  background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.frioul {
  height: 122px;
  background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
}

.parcNational {
  height: 400px;
  background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
}

.notreDame {
  height: 122px;
  background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
}

.longchamp {
  height: 200px;
  background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
}

.cadreDescription {
  margin: 0 10px;
  line-height: 3rem;
  font-weight: bold;
}

/* Bas de page */
footer {
  display: flex;
  justify-content: space-around;
  margin-left: -134px;
  width: 85;
}

#bloc_page {
  font-family: "Raleway", sans-serif;
}

footer a {
  text-decoration: none;
}

.titre-hotel {
  position: absolute;
  top: 26.5rem;
  margin-left: 1.2rem;
  font-weight: bold;
}
